extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Duis non bibendum est. Donec nulla turpis, feugiat non ullamcorper ut, consectetur quis libero. Aenean in commodo velit, ut dictum dui. Maecenas lobortis quam dolor, at fermentum risus interdum nec. Fusce vel pretium elit, at fringilla ipsum. Maecenas sollicitudin leo ac sem mattis iaculis. Phasellus orci tortor, dignissim venenatis interdum id, interdum vel purus. Mauris aliquam rhoncus sapien, vitae dictum leo venenatis non. 

                p Suspendisse ultrices luctus porttitor. Suspendisse volutpat ultricies nibh non feugiat. Phasellus congue dolor arcu, eget mollis nisl consectetur at. Curabitur scelerisque elit non dignissim lacinia. Morbi eget magna lectus. Ut a odio a purus auctor porta et et neque. Aliquam luctus nisl ac dictum facilisis. Nullam ultrices consequat ipsum, sit amet condimentum magna maximus eget.

                p Curabitur fermentum mollis blandit. Donec ullamcorper congue ex. Mauris lacus nisl, rutrum eu posuere at, tristique ac neque. Vivamus faucibus commodo odio quis suscipit. Curabitur pretium urna in nulla molestie, at condimentum purus faucibus. Sed vitae ultricies leo. Duis ut fringilla metus. Ut volutpat velit vel enim volutpat, at lacinia nibh pellentesque. In ut varius nunc. Aliquam odio dolor, semper id lectus vel, dignissim interdum dui.

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Aliquam luctus nisl ac dictum facilisis. Nullam ultrices consequat ipsum, sit amet condimentum magna maximus eget.

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Aliquam luctus nisl ac dictum facilisis. Nullam ultrices consequat ipsum, sit amet condimentum magna maximus eget.

                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios
                    p Aliquam luctus nisl ac dictum facilisis. Nullam ultrices consequat ipsum, sit amet condimentum magna maximus eget.